black==18.9b0
dask==2.8.0
dask-glm==0.2.0
dask-ml==1.2.0
matplotlib==3.0.2
mlflow==1.4.0
numpy==1.18.1
pandas==0.23.4
pytorch-ignite==0.2.1
scikit-image==0.14.2
scikit-learn==0.22.1
scipy==1.2.0
seaborn==0.9.0
sklearn==0.0
torch==1.0.0
yaml==5.3
imageio==2.6.1
torch-nightly==1.0.0.dev20190325
torchvision==0.2.2.post3
torchvision-nightly==0.2.1
imgaug==0.3.0
